.search {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}
.searchName {
  text-shadow:  1px 1px 2px #717171, 0 0 1em white, 0 0 0.2em #6e6ed047;

  font-size: 30px;
  color: rgb(255, 255, 255);;

  display: block;
  margin-bottom: 10px;

  font-weight: 600;
}

.searchInp {
  border-radius: 4px;
  margin-bottom: 10px;
  height: 25px;
  width: 300px;
  border: 0px;
  outline: none;
}

.searchInp:focus {
  width: 310px;
  height: 27px;
}
